* {
  list-style-type: none;
  text-decoration: none;
}
.container-fluid {
  top: 0px;
  left: 0px;
  width: 1366px;
  height: auto;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  opacity: 1;
}
.container-fluid h5 {
  margin-top: 26px;
  margin-left: 62px;
  width: 355px;
  text-align: left;
  letter-spacing: 0px;
  color: #1f1f1f;
  opacity: 1;
  font-weight: bold;
  margin-bottom: 32px;
  font-size: 26px;
}

.row hr {
  top: 136px;
  margin-left: 37px;
  margin-right: 35px;
  width: 1237px;
  height: 0px;
  border: 1px solid #cccccc;
  opacity: 1;
}
.row button {
  background-color: rgb(29, 185, 255);
  height: 44px;
  width: 169px;
  margin-left: 715px;
  margin-top: 15px;
  color: #ffffff;
}

.info hr {
  margin-left: 20px;
  width: 180px;
}
.herois-grid {
  display: grid;
  grid-gap: 16px;
  padding: 12px;
  grid-template-columns: auto auto auto auto;
  margin: auto;
}
.herois-grid .image {
  width: 90%;
  border-radius: 5px;
  margin-top: 20px;
}

.herois-grid .image hr {
  margin-top: -0.1px;
  width: 137px;
}

.herois-grid img {
  width: 239px;
  height: 300px;
  margin-left: 25px;
}

.herois-grid .box {
  width: 295px;
  height: 480px;
  box-shadow: 0 0 5px #f4f4f4;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.726);
  position: relative;
  transition: 0.1s;
  margin: auto;
  flex-wrap: wrap;
}
#descricao {
  margin-left: 30px;
  font-size: 16px;
  flex-wrap: wrap;
  text-align: start;
  color: #505050;
  opacity: 1;
  margin-top: -15px;
}
#descricao-modal {
  margin-left: 290px;
  font-size: 16px;
  flex-wrap: wrap;
  text-align: start;
  color: #505050;
  opacity: 1;
  margin-top: -300px;
  position: absolute;
  padding-right: 10px;
}
.herois-grid .info h5 {
  margin: 17px 20px 10px 30px;
  font-size: 18px;
}
.herois-grid .info {
  width: 265px;
  bottom: 0px;
  padding-top: 5px;
  height: auto;
}
.herois-grid .info #btn2 {
  border: 1px solid rgb(29, 185, 255);
  border-radius: 30px;
  opacity: 1;
  height: auto;
  padding: 10px;
  width: auto;
  font-size: 14px;
  color: rgb(29, 185, 255);
  margin: auto;
  font-weight: bold;
}
.herois-grid .info-modal {
  width: 265px;
  bottom: 0px;
  padding-top: 5px;
  height: 450px;
}
.herois-grid .info-modal h5 {
  margin: 17px 20px 10px 30px;
  font-size: 18px;
}
.herois-grid .info-modal #btn2 {
  border: 1px solid rgb(29, 185, 255);
  border-radius: 30px;
  opacity: 1;
  height: auto;
  padding: 10px;
  width: auto;
  font-size: 14px;
  color: rgb(29, 185, 255);
  margin: auto;
  font-weight: bold;
}

#footer {
  bottom: 0;
  width: 100%;
  justify-content: flex-end;
}
.d-flex #footer2 {
  font-weight: bold;
  color: #393939;
  padding-bottom: 30px;
  margin-right: 30px;
  font-weight: 700;
}
.d-flex #footer1 {
  margin-bottom: 0px;
  margin-right: 32px;
}

.btn-close {
  margin-right: 24.56px;
  margin-top: 21px;
}
