<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <h5>Meus Herois.</h5>
    <div style="display: inline-block; width: 48%">
      <input
        style="
          width: 100%;
          margin-top: 20px;
          padding: 13px;
          border-radius: 4px;
          border: 2px solid rgb(29, 185, 255);
        "
        placeholder="Search By Name"
        [(ngModel)]="searchName"
      />
    </div>
    <hr />
  </div>

  <div class="herois-grid">
    <div
      class="box"
      *ngFor="
        let heroi of heroisList
          | filter: searchName
          | paginate: { itemsPerPage: 8, currentPage: p }
      "
    >
      <div class="image">
        <img
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          style="
            font-size: 28px;
            width: 12px;
            height: 35px;
            margin-left: 140px;
            margin-top: -5px;
            position: absolute;
          "
          src="{{ imagem }}"
          alt="herois"
        />
      </div>
      <div class="info">
        <img id="image" src="{{ heroi.images.sm }}" alt="Imagem-herois" />
        <h5>
          {{ heroi.name | titlecase }}
        </h5>
        <p id="descricao">
          {{ heroi.biography.fullName }}
        </p>
        <p id="descricao">
          {{ heroi.biography.alignment }}
        </p>
        <div class="d-flex">
          <p id="btn2">{{ heroi.biography.publisher }}<br /></p>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" *ngFor="let heroi of heroisList">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              {{ heroi.name | titlecase }}<br />{{ heroi.biography.fullName }}
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="info-modal">
                <img
                  id="image"
                  src="{{ heroi.images.sm }}"
                  alt="Imagem-herois"
                />
                <p id="descricao-modal">
                  intelligence: {{ heroi.powerstats.intelligence }}<br />
                  strength: {{ heroi.powerstats.strength }}<br />
                  speed: {{ heroi.powerstats.speed }}<br />
                  durability: {{ heroi.powerstats.durability }}<br />
                  power: {{ heroi.powerstats.power }}<br />
                  combat: {{ heroi.powerstats.combat }}<br /><br />
                  aliases: {{ heroi.biography.aliases }}<br />
                  placeOfBirth: {{ heroi.biography.placeOfBirth }}<br />
                  firstAppearance: {{ heroi.biography.firstAppearance }}<br />
                  gender: {{ heroi.appearance.gender }}<br /><br />
                  race: {{ heroi.appearance.race }}<br />
                  height: {{ heroi.appearance.height }}<br />
                  weight: {{ heroi.appearance.weight }}<br />
                  eyeColor: {{ heroi.appearance.eyeColor }}<br />
                </p>
                <h5>
                  {{ heroi.name | titlecase }}
                </h5>
                <p id="descricao">
                  {{ heroi.biography.fullName }}
                </p>
                <div class="d-flex">
                  <p id="btn2">{{ heroi.biography.publisher }}<br /></p>
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Sair
            </button>
            <button type="button" class="btn btn-danger">Favorite</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls
    class="text-center"
    (pageChange)="p = $event"
  ></pagination-controls>

  <div class="d-flex" id="footer">
    <ul>
      <li><p id="footer1">powered by</p></li>
      <li><p id="footer2">Coobrastur</p></li>
    </ul>
  </div>
</div>
