.navbar {
  width: 1366px;
  margin: 0 auto;
  height: 56px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #a8a8a829;
  opacity: 1;
}
.nav-item {
  margin-left: 60px;
  letter-spacing: 0px;
  opacity: 1;
  font-size: 16px;
}
.nav-item a {
  color: #000000;
  font-weight: bold;
  font-weight: 500;
  border-bottom: rgb(29, 185, 255);
  margin-top: 12px;
  padding-bottom: 14px;
}
.nav-item a:hover {
  border-bottom: 3px solid rgb(29, 185, 255);
  text-decoration: none;
  font-weight: bold;
  padding-bottom: -22px;
}
#logo {
  margin-left: -40px;
}
#login {
  margin-left: 530px;
}
