<nav class="navbar navbar-expand-lg">
  <div class="container">
    <img id="logo" src="{{ logo }}" />
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Inicio
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/meus-herois">Meus Herois</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav">
          <img routerLink="/login" id="login" src="{{ login }}" />
        </li>
      </ul>
    </div>
  </div>
</nav>
