*{
  list-style-type: none;
}
.container-fluid {
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 768px;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  opacity: 1;
}
.container-fluid h5 {
  margin-top: 26px;
  margin-left: 62px;
  width: 455px;
  text-align: left;
  letter-spacing: 0px;
  color: #1f1f1f;
  opacity: 1;
  margin-bottom: 32px;
  font-weight: bold;
  font-size:22px ;
}
.row hr{
  top: 136px;
  margin-left: 37px;
  margin-right: 35px;
  width: 1237px;
  height: 0px;
  border: 1px solid #cccccc;
  opacity: 1;
}
.row button {
  background-color: #725172;
  height: 44px;
  width: 169px;
  margin-left: 715px;
  margin-top: 15px;
  color: #ffffff;
}


#footer{
  position:absolute;
    bottom:0;
    width:84%;
    justify-content: flex-end;
}
.d-flex #footer2{
  font-weight: bold;
  color:#393939;
  padding-bottom: 30px ;
  margin-right: 30px;
  font-weight: 700;
}
.d-flex #footer1{
  margin-bottom:0px;
  margin-right: 32px;
}

.preview {
  max-width: 200px;
}
