<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <h5>Seja bem-vindo !!</h5>
    <hr />
  </div>
  <div class="d-flex" id="footer">
    <ul>
      <li><p id="footer1">powered by</p></li>
      <li><p id="footer2">Coobrastur</p></li>
    </ul>
  </div>
</div>
