* {
  list-style-type: none;
}
.container-fluid {
  display: flex;
  margin-top: 10px;
}
#card1 {
  background: transparent
    linear-gradient(180deg, rgb(0, 175, 255) 0%, #ffffff 100%) 0% 0% no-repeat
    padding-box;
  opacity: 1;
  top: 0px;
  left: 0px;
  width: 790px;
  height: 768px;
}
#card2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  top: 0px;
  left: 0px;
  width: 576px;
  height: 768px;
}
input {
  width: 384px;
  height: 44px;
  margin-left: 92px;
  margin-right: 92px;
  padding-left: 20px;
  padding-bottom: 0px;
}
form {
  position: absolute;
  margin-top: 0;
}
.login h1 {
  margin-top: 147px;
  margin-left: 92px;
  margin-right: 92px;
  font-weight: bold;
  font-size: 36px;
}
.login hr {
  margin-top: 0px;
}

#wrap {
  position: absolute;
  top: 50px;
  padding-bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#wrap2 input {
  margin-top: 80px;
  padding-bottom: 10px;
}
input {
  display: block;
  font-size: 16px;
}
button {
  width: 384px;
  height: 54px;
  background: rgb(29, 185, 255) 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #b7b7b729;
  border-radius: 8px;
  opacity: 1;
  color: #ffffff;
  margin-left: 92px;
  margin-right: 92px;
  margin-top: 25px;
}
.d-flex {
  position: absolute;
  bottom: 0;
  width: 84%;
  justify-content: flex-end;
}
.d-flex #footer2 {
  font-weight: bold;
  color: #393939;
  padding-bottom: 30px;
  margin-right: 30px;
  font-weight: 700;
}
.d-flex #footer1 {
  margin-bottom: 0px;
  margin-right: 32px;
}
