<div class="container-fluid justify-content-md-center">
  <div class="row">
    <div id="card1"></div>
  </div>
  <div id="card2">
    <div class="col">
      <div class="login">
        <h1>Entre.</h1>
        <hr />
      </div>
      <form
        id="form1"
        name="form1"
        method="post"
        onsubmit="return valida_form(this)"
      >
        <div class="form-group" id="wrap">
          <input
            name="nome"
            type="text"
            id="nome"
            placeholder="nome"
            type="text"
            required
            maxlength="25"
            minlength="3"
          />
        </div>
        <div class="form-group" id="wrap2">
          <input
            id="senha"
            type="password"
            id="password"
            placeholder="senha"
            class="form-control"
            formControlName="password"
            name="senha"
          />
        </div>
        <button routerLink="/home" type="submit" class="btn" value="Cadastrar">
          ENTRAR
        </button>
      </form>
    </div>
  </div>
  <div class="d-flex">
    <ul>
      <li><p id="footer1">powered by</p></li>
      <li><p id="footer2">Coobrastur</p></li>
    </ul>
  </div>
</div>
