<div class="container pt-5 mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>Oops!</h1>
        <h2>404 Não encontrada</h2>
        <div class="error-details">
          Desculpe, ocorreu um erro, página solicitada não encontrada!
        </div>
        <div class="error-actions">
          <a routerLink="/home" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-home"></span>
            Voltar para a página Inicial
          </a>
          <a class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-envelope"></span>
            Contate o Suporte Coobrastur!
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
